*{
    text-transform: uppercase;
    border-width: 0%;
    color: #000000;
    background-color: #ffffff;
}
body{
    border: 4px double #000000;
}
h1{
    text-align: center;
    line-height: 23px;
}
ul{
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
}
li{
    display: inline;
    margin: auto;
    font-weight: bold;
}
p{
    text-align: center;
    line-height: 25px;
}
a{
    color: #000000;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
}
a:hover{
    color: #ff0000;
}